<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新经资讯后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div class="breadcrub">
            当前位置：新闻管理>添加分类
        </div>
        <div class="pannel">
            <div class="news_review">
                
            <h3 class="review_title">添加分类</h3>
            <form id='form1' enctype="multipart/form-data">
            <div class="form_group">
                <label>名称：</label>
                <input type="text" name="name" class="input_txt2" value="{{cate.name}}" width=100>
            </div>

                <div class="form_group">
                <label>上级分类：</label>
                <select name="pid">
                    <option value=0>顶级分类</option>
                    {% for i in cates %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>

            </div>
                <div class="form_group">
                <label>是否推荐：</label>
                <input type="radio" name="is_recommend" value='0' > 不推荐
                <input type="radio" name="is_recommend" value='1' checked> 推荐
            </div>
            <div class="form_group">
                <label>图片</label>
                <input type="file" name="pic">
            </div>
            <input name='newid' value='{{ newid }}'>
            <div class="form_group indent_group line_top">
                <input type="button" value="确定" class="confirm" onclick='addcate()'>
                <input type="button" value="取消" class="cancel" onclick="cancel()">
            </div>
            </form>

        </div>    
        </div>
        
        
</body>
<script>
    
   function addcate() {
       $.ajax({
           url:'/sadmin/submit_addcate/',
           type:'post',
           data:new FormData($('#form1')[0]),
           cache:false,
           contentType:false,
           processData:false,
           success:function (res) {
               if(res.code === '200'){
                    window.location.href='/sadmin/showcate/'
               }
           }
   })
   } 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
{#function addcate(){#}
{#    //获取用户输入的数据#}
{#    var name = $('.input_txt2').val()#}
{#    //修改时获取id#}
{#    var id = $(".id").val()#}
{#    if (name){#}
{#        //发起ajax请求#}
{#        $.ajax({#}
{#            url:'/admin/submit_addcate',#}
{#            type:'post',#}
{#            data:{'name':name,'id':id},#}
{#            dataType:'json',#}
{#            success:function(res){#}
{#                if(res.code == 200){#}
{#                    window.location.href="/admin/catelist"#}
{#                }else{#}
{#                    alert(res.message)#}
{#                }#}
{#            }#}
{#        })#}
{#    }else{#}
{#        alert('必须输入分类名称')#}
{#    }#}
{#}#}
</script>
</html>