<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新经资讯后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div class="breadcrub">
            当前位置：标签管理>添加标签
        </div>
        <div class="pannel">
            <div class="news_review">

            <h3 class="review_title">添加标签</h3>
            <form id='form3' enctype="multipart/form-data">
            <div class="form_group">
                <label>名称：</label>
                <input type="text" name="name" class="input_txt2" value="{{cate.name}}" width=100>
            </div>

                <div class="form_group">
                <label>所属分类：</label>
                <select name="cid_id">
                    {% for i in cates %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>

            </div>
                <div class="form_group">
                <label>是否推荐：</label>
                <input type="radio" name="is_recommend" value='0' > 不推荐
                <input type="radio" name="is_recommend" value='1' checked> 推荐
            </div>
            <input  name='newid' value='{{ newid }}'>
            <div class="form_group indent_group line_top">
                <input type="button" value="确定" class="confirm" onclick='addtags()'>
                <input type="button" value="取消" class="cancel" onclick="cancel()">
            </div>
            </form>

        </div>
        </div>


</body>
<script>

   function addtags() {
       $.ajax({
           url:'/sadmin/submit_addtags/',
           type:'post',
           data:new FormData($('#form3')[0]),
           cache:false,
           contentType:false,
           processData:false,
           success:function (res) {
               if(res.code === '200'){
                    window.location.href='/sadmin/showtags/'
               }
           }
   })
   }

</script>
</html>