<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<link rel="stylesheet" href="../../static/admin/css/jquery.pagination.css">
	<script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/admin/js/jquery.pagination.min.js"></script>
</head>
<body>
	<div class="breadcrub" >
			当前位置：新闻管理>新闻展示
			<form  class="news_filter_form">
				<input type="text" placeholder="请输入关键字" class="input_txt" name="keyword" value="{{keyword}}">
				<input type="submit" value="搜 索" class="input_sub">
			</form>
		</div>
		<div class="pannel">
			<table class="common_table">



{#					<tr>#}
{#							<th width="3%">id</th>#}
{#							<th width="50%">标题</th>#}
{#							<th width="15%">发布时间</th>#}
{#							<th width="5%">状态</th>#}
{#							<th width="5%">失败原因</th>#}
{#							<th width="8%">管理操作</th>#}
{#						</tr>#}
{#						{% for i in newslist %}#}
{#						<tr>#}
{#							<td width="3%">{{i.id}}</td>#}
{#							<td width="50%">{{i.title}}</td>#}
{#							<td width="15%">{{i.create_time}}</td>#}
{#							<td width="5%">#}
{#								{% if i.status == 1%}#}
{#								通过 #}
{#								 {% elif i.status == 2 %}#}
{#								 未通过 #}
{#								  {% else %}#}
{#								  审核中#}
{#								{% endif %}</td>#}
{#							<td width="5%">{{i.reason}}</td>#}
{#							<td width="8%">#}
{#								{% if i.status != 1%}#}
{#								<a href="/admin/review_detail?id={{i.id}}">审核</a>#}
{#								{% endif %}#}
{#								删除#}
{#							</td>#}
{#						</tr>#}
{#						{% endfor %}#}
			</table>
			<div id='pagination'></div>
		</div>
		
</body>
<script>
       //获取分类内容
    getBannerList(1)
    function getBannerList(p) {
        $.ajax({
            url : '/sadmin/newslist/',
            type : 'get',
            data:{'p':p},
            dataType : 'json',
            success:function (res) {
                if(res.code ==='200'){
                    var mes = res.newslist;
                    var length =mes.length
                    var html ='<tr><td colspan="4"><a href="/sadmin/addnews/" class="addtype">增加新闻</a> ' +
                        '</td></tr><tr><th width="10%">id</th><th width="35%">标题</th><th width="35%">内容</th><th width="20%">管理操作</th> </tr>'
                    for (var i=0;i<length;i++){
                        html +='<tr><td width="10%">'+mes[i]['id']+'</td><td width="35%">'+mes[i]['title']+'</td><td width="35%">'+mes[i]['content']+'</td>'+
                        '<td width="20%"><a href="/sadmin/addnews?newid='+mes[i]['id']+'">修改</a>' +
                            ' <a href="/sadmin/deletenews?delid='+mes[i]['id']+'">删除</a></td></tr>'
                    }
                    $('.common_table').html(html)
                    page(res.totalPage,res.currentPage)
                }
            }
        })
    }
    function page(totalPage,currentPage) {
        $('#pagination').pagination({
            currentPage : currentPage,
            totalPage : totalPage,
            callback:function(p){
                getBannerList(p)
            }
        })
    }
</script>

</html>